{% extends 'layout/base.html' %}

{% set big_footer = True %}

{% block title %}Main{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <!-- Initiative! -->
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/initiative/initiative-logo-large.png') }}" class="card-img-top" alt="Initiative!">
            <div class="card-body">
                <h5 class="card-title">Initiative!</h5>
                <p class="card-text">Track your structured encounter progress.</p>
                <a href="/apps/initiative" class="btn btn-primary">Track!</a>
            </div>
        </div>

        <!-- Journey tracker -->
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/journeys/journeys-logo-large.png') }}" class="card-img-top" alt="Journey Tracker">
            <div class="card-body">
                <h5 class="card-title">Journey Tracker</h5>
                <p class="card-text">Manage journeys in your game session.</p>
                <a href="/apps/journeys" class="btn btn-primary">Open</a>
            </div>
        </div>

        <!-- Monster library -->
        <div class="card" style="width: 18rem;">
            <img src="{{ url_for('static', filename='images/monsters/monsters-logo-large.png') }}" class="card-img-top" alt="Monster Library">
            <div class="card-body">
                <h5 class="card-title">Monster Library</h5>
                <p class="card-text">Find the right monster for your encounter.</p>
                <a href="/apps/monsters" class="btn btn-primary">Find!</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
